<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial">
    <title>My base Html</title>
    <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
<section>
{{page.navbar}}
  <div class="menu">
<div class="logo">
  <img src="images/Webathon_logo.png" alt="">

  </div>
  <ul>
    <a href="#"><li> About Us</li></a>
    <a href="#"><li> Product</li></a>
    <a href="#"><li> Careers</li></a>
    <a href="#"><li> Contact</li></a>
  </ul>


    </div>
</section>

<section class="herosection">
{{page.land}}
  <div class="land">
<div class="heading">
  Your new website <br/> solution
  <p> Become <b>successful</b> with our
    <br/>integerated web packages.</p>

    <a type="button" class="button">Learn more</a>
    <div class="flex-container">
      <div> <img src="images/Webathon_segment.png" alt=""> <p><b>Segment</b> your data  effectively</p></div>
      <div> <img src="images/Webathon_distribute.png" alt=""><p><b>Distribute</b> tasks to  your team</p></div>
      <div> <img src="images/Webathon_manage.png" alt=""> <p><b>Manage</b> your  workflow</p></div>
    </div>

</div>

  </div>
</section>
<section class="separator">

</section>
<section>
  {{page.article}}

  </article>}}
  <div class="grid-container">
    <div class="grid-item">
    <p> <b> Increase Output <br> Efficiency </b> <br>
       Our web products brings your online presense to the 21st century. No more degradation of work output</p>
    </div>
    <div class="grid-item"><img src="images/Webathon_tech girl.png" alt=""></div>


  </div>
</section>
<section style="background-color:#D6D6D6">
  <div class="grid-container">
    <div class="grid-item"><img src="images/Webathon_family around computer.png" alt=""></div>


    <div class="grid-item">
       <p style="text-align:right"><b> Earn the respect <br> of your peers</b><br>
  9 in 10 of our customers report a stronger reputation among their colleagues, friends and family</p>
    </div>


  </div>
</section>

<section>
  <div class="grid-container">
    <div class="grid-item">
    <p>  <b> Follow your <br> dreams </b><br>
     The tide is high and you're holding on. we want to be your one web service provider.</p>
    </div>
    <div class="grid-item"><img src="images/Webathon_handshake.png" alt=""></div>


  </div>
</section>
<section style="background-color:#3C2F18;">
  {{page.footer}}
<div class="Footer-grid-container">
  <div class="grid-item">About us
    <ul>
      <li>Who we are </li>
      <li>Our goal </li>
      </ul>
  </div>
  <div class="grid-item">products
    <ul>
      <li>Web solution</li>
      <li>Web tool</li>
      <li>Basic package </li>
      <li>Pro package </li>
      </ul>
  </div>
  <div class="grid-item">Careers
    <ul>
      <li>Internal </li>
      <li>Freelance</li>
      </ul>
  </div>
  <div class="grid-item">Social
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      </ul>
   </div>
  <div class="grid-item">Contact

    <ul>
      <li>Customer support </li>
      <li>Business </li>
      </ul>
  </div>
</div>
<br/>
<br/>
<div style="padding-left:100px; color:#fff; font-size:16px;">
<img src="images/Webathon_logo.png" alt=""><br/>
This is some made up copyright stuff. Our lawyers are working round the clock to ensure this<br/>
text remains so our editors don't have to bother keeping up to date.

</div>

</section>



  </body>
</html>
