body, html{
  margin: 0px;


}

.menu{
height: 6vh;
background-color: #fff;
width: 100vw;
border-bottom: 1px solid #000;
padding:7px 30px ;

}

.logo {
  display: inline-block;
  width:15vw;

}

.menu > ul{
display: inline-block;
float:right;
list-style-type: none;
width: 50vw;

}


.menu > ul > a > li{
  display: inline-block;
  width: 10vw;
  font-size: 20px;
  color:#403422;

}

.tint{
  position: absolute;
  z-index: 1;
  height: 90vh;
  width: 100vw;
  background: #000;
  opacity: 0.4;
}

.herosection{
height: 760px;

}

.land{

  background-image: url("images/Webathon_lumberjack man.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading{

  position: relative;
  z-index: 20;
  font-size: 55px;
  text-align: left;
  padding-top: 130px;
  padding-left: 130px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

}

.heading p {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.heading p b {

color: orange;
}

.button {
  height: 500vh;
  width: 740vw;
  padding: 10px;
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 10px
}


.flex-container {
  position: relative;
  display: flex;
  z-index: 30;
  padding-left: 150px;
  padding-top: 160px;
  color: black;
  width: 100%;
  height: 150px;
}

.flex-container > div  {
      width: 100px;
      height: 100px;
      background-color: #fff;
      border-radius: 50%;
        margin: 90px;
      padding: 30px;
      box-shadow: 2px 2px 15px 2px #88888852;
  }

.flex-container > div > p > b{


  padding-top: 20px;
  font-size: 18px;
  color: #aaa;
}
.flex-container > div > p{
  width: 7.5vw;
  font-size: 18px;
  color: #aaa;
}




.flex-container > div > img{
  font-size: 30px;
    margin: 10px;
    height: 80px;
    width: 80px;
  }

 .separator {
  height: 250px;
  width: 100%;
 }

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
  }
.grid-item {

    padding: 20px;
    font-size: 20px;
    text-align: justify;
  }


.grid-item > img {
width: 800px;
height: 500px;
box-shadow: 2px 2px 15px 2px #88888852;
}

.grid-item > p > b {
font-size: 50px;
color: #403422;
font-family: 'Roboto', sans-serif;
}

.grid-item > p {
  width: 400px;
  padding: 170px;
  text-align: left;
  font-size: 20px;
color: #403422;
}

.Footer-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    padding: 10px;
    padding-left: 90px;
    color: #fff;

  }


.Footer-grid-container grid-item{

  font-weight: 100;
  color: #fff;
  font-size: 20px;
}


.Footer-grid-container  ul{
  display: inline;
  width: 50vw;
  list-style-type:none;
  padding-top: 40px;
  }

.Footer-grid-container  ul >  li{
    display: block;
    width: 10vw;
    font-size: 20px;
    color: #AAA;

  }
